<section class="row py-3">
    <a href='/post/{{id}}' class="card w-100">
        <div class="card-header d-flex flex-column flex-lg-row justify-content-between">
            <h3>{{title}}</h3>
            <h6>Posted by {{userName}} On {{format_date createdAt}}</h6>
        </div>
        <div class="card-body">
            <p class="card-text">
                {{body}}
            </p>
        </div>
    </a>
</section>